.lelogo {
	text-align: justify; /* aligner en fonction de la page */
	padding-top:109px;
	display: block;
	margin: 0 auto;
	/*clear: both;*/
}
#nav{
	text-align: right; /* mettre texte a droite */
	text-decoration: none; /* pas de soulignage */
}

.link{
	text-decoration: none;
}


.form{
	text-decoration: none;
}

#middle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.box{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

footer
{
	background-color: #F2F2F2;
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.gauche{
	float: left;	
	text-align: left;
	justify-content: flex-start;
	margin: 15px;
}

.droite{
	float: right;
	text-align: right;
	justify-content: flex-end;
	margin: 15px;
}

a[href]{
	color: #454545;
}

.pays{
	margin: 15px;
}